[user]
    name = Chris John
    email = 132337461+Git-With-Chris@users.noreply.github.com.

[core]
    editor = code -n --wait
    excludesfile = ~/dotfiles/git/.gitignore_global
    autocrlf = input

[init]
    defaultBranch = main

[commit]
    template = ~/dotfiles/git/commit-template

[diff]
    tool = vscode

[difftool]
    prompt = false

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED
    keepBackup = false

[color]
    ui = auto

[alias]
    st = status
    ss = status -s
    co = checkout
    br = branch
    cmt = commit
    cms = commit -m
    lgl = "!f() { git --no-pager log -n \"${1:-2}\" --stat --decorate --graph; }; f"
    lgs = "!f() { git --no-pager log -n \"${1:-10}\" --oneline --graph --decorate --all; }; f"
    lga = "!git --no-pager log --oneline --graph --decorate --all"
